<h2 mat-dialog-title [ngStyle]="{'margin-left':'6px'}">Element</h2>

<mat-dialog-content class="container-element">

  <form style="display:flex;flex-direction: column;" [formGroup]="form" (ngSubmit)="addNewElement()">
    <mat-form-field class="example-full-width">
      <input matInput
             id="number"
             class="form-control"
             type="number"
             placeholder="Number of element"
             formControlName="number"
             required minlength="2"
      >
      <mat-error *ngIf="f.number.touched && f.number.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="f.number.touched && f.number.errors?.minlength">Minimun lenght 2</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             type="text"
             placeholder="Name of element"
             required minlength="2"
             formControlName="name">
      <mat-error *ngIf="f.name.touched && f.name.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="f.number.touched && f.number.errors?.minlength">Minimun lenght 2</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             type="text"
             placeholder="Atomic weight"
             required minlength="2"
             formControlName="weight">
      <mat-error *ngIf="f.weight.touched && f.weight.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="f.number.touched && f.number.errors?.minlength">Minimun lenght 2</mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput
             type="text"
             placeholder="Symbol"
             required minlength="2"
             formControlName="symbol">
      <mat-error *ngIf="f.symbol.touched && f.symbol.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="f.number.touched && f.number.errors?.minlength">Minimun lenght 2</mat-error>

    </mat-form-field>

    <mat-dialog-actions class="container-button">
      <button type="submit" [disabled]="!form.valid" [ngStyle]="{'width':'130px','margin-right':'10px'}"
              class="mat-raised-button mat-primary">Save
      </button>
      <button [ngStyle]="{'width':'130px'}" class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>


  </form>


</mat-dialog-content>





