<h2 mat-dialog-title [ngStyle]="{'margin-left':'6px'}">Element</h2>

<mat-dialog-content [formGroup]="formedit" class="container-element">

  <mat-form-field class="example-full-width">
    <input matInput 
           type ="text"
           placeholder="Number of element"
           formControlName="number" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput 
    type ="text"
           placeholder="Name of element"
           formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput 
    type ="text"
           placeholder="Atomic weight"
           formControlName="weight">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput 
    type ="text"  
           placeholder="Symbol"
           formControlName="symbol">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="container-button">
  <button [ngStyle]="{'width':'130px','margin-right':'10px'}" class="mat-raised-button mat-primary">Save</button>
  <button [ngStyle]="{'width':'130px'}" class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>


